.create-button {
  background: #1bebb9;
  border: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.new-room-bar {
  display: flex;
}

.new-room-label {
  flex: 1;
  font-weight: 600;
}

.new-room-table {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 35px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.new-room-table-row {
  flex: 1;
  flex-direction: row;
  display: flex;
  padding: 25px 15px;
}

.new-room-table-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.new-room-table-column :first-child,
.new-room-column :first-child {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.new-room-table-column :last-child,
.new-room-column :last-child {
  font-size: 12px;
  color: #666;
}

.new-room-radio,
.new-room-input {
  flex: 1;
}

.new-room-input input {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
}

.privacy-label {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 600;
}

.frame-container {
  display: flex;
  flex: 1;
  height: 500px;
}

#callframe {
  flex: 1;
}

.share-room-label {
  font-size: 14px;
  color: #666;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.copy-url-section {
  display: flex;
  align-items: center;
}

.copy-url-section span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 4px 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.copy-url-section button {
  font-size: 10px;
  font-weight: 600;
  height: 26px;
  color: #000;
  border: 0px;
  padding: 0px 8px;
  border-radius: 5px;
  background: #1bebb9;
  margin-left: 10px;
}
